tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorboard==2.12.0
tensorflow-addons==0.20.0
tensorflow-datasets==4.9.2
tensorflow-io-gcs-filesystem==0.31.0

opencv-python-headless==4.7.0.72
Pillow


numpy
pandas
scikit-learn==1.2.2
scipy
matplotlib
seaborn
plotly
altair


streamlit==1.50.0
streamlit-webrtc==0.63.5

requests
h5py
joblib
tqdm
attrs
jinja2
werkzeug

